---
title: Certifications Fle
description: Mettez toutes les chances de votre côté pour obtenir des certifications professionnelles et reconnues de votre niveau de langue en français langue étrangère en vous préparant via nos cours particuliers, personnalisés, immersifs et innovants.
---


<div class="padded" id="banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-1">
          <h4>Professionnels</h4>
          <h1>Faites reconnaître<br/>
          vos compétences<br/>
          langagières en français
          </h1>
        </div>
      </div>
    </div>

</div>



<div class="container text-center" id="puce">
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= image_tag "Puce_ASavoir.png", :alt => "Hint" %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <h4>Le saviez-vous ?</h4>
      <p>
        Le français est une langue très répandue dans le monde professionnel à l’échelle internationale, avec plus de 200 millions de francophones qui l’utilisent quotidiennement. Langue de la diplomatie et des affaires au sein des 84 États et gouvernements membres de l’Organisation Internationale de la Francophonie (env. 20% des échanges commerciaux mondiaux), l’apprentissage du français peut être un sérieux atout au cours de votre vie professionnelle.<br/><br/>

        Faites attester vos acquis langagiers en Français Langue Étrangère par une certification diplômante et faites valoir votre différence auprès de votre employeur et de vos collaborateurs.
      </p>
      <p>
        <span style="text-decoration: underline; font-size: 10px;">sources :</span>
          <li>
          <% link_to "http://www.lesechos.fr/idees-debats/cercle/cercle-161411-jeunes-decideurs-il-vous-faut-investir-la-francophonie-economique-2034520.php", target: "_blank" do %>
          Jeunes décideurs, il vous faut investir la francophonie économique - Les Echos - 12/10/2017
          <% end %>
          </li>
          <li>
          <% link_to "http://www.francophonie.org/IMG/pdf/Impact_economique_de_la_langue_francaise_et_de_la_Francophonie.pdf", target: "_blank" do %>
          Impact économique de la langue française et de la Francophonie. Être francophone, une valeur sûre ! - OIF - Rapport 2012.
          <% end %>
          </li>
      </p>
    </div>
  </div>
</div>

<div class="bg-smartexpat" id="stand_out">
  <h2>Nous pouvons vous préparer à l’examen du<br/> <strong>Diplôme de Compétence en Langue</strong> (DCL)<br/> en français langue étrangère
  </h2>
</div>

<div id="fondu">


  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-5">
        <div id="info_box">
                <p>Préparez-vous au</p>
                <h3>Diplôme de Compétence en Langue <br/> [DCL]
                </h3>
                <p>proposé par le ministère français de l’Éducation Nationale</p>

                <% link_to "dcl.html" do %>
                <% image_tag "Bouton_Acces.png", :alt => "Know more" %>
                <% end %>
                <div class="clear"></div>

        </div>
      </div>

    </div>
  </div>

</div>

