---
title: Certificates French as a Foreign Language (Fle)
description: Give yourself an edge for your professional career and get a professional and recognized certificate that certifies your French language skills. Get prepared through our personalized, immersive and original French private classes in Paris.
---


<div class="padded" id="banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-1">
          <h4>Professionals</h4>
          <h1>Give yourself an edge<br/>
          by officially certifiying your<br/>
          French skills
          </h1>
        </div>
      </div>
    </div>

</div>



<div class="container text-center" id="puce">
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= image_tag "Puce_ASavoir.png", :alt => "Hint" %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <h4>Did you know it ?</h4>
      <p>
        The French language is widely used throughout the world and in the worldwide economy by more than 200 million of French-speaking professionals. French is the official language of diplomacy and business in the 84 states and governments who are members of the International Organisation of La Francophonie, which stand for 20% of the international trade. Learning French is undoubtfully a great asset for your professional career.<br/><br/>

        Make your “French as a Foreign Language” skills officially certified and make a valuable difference to your employer and collaborators.
      </p>
      <p>
        <span style="text-decoration: underline; font-size: 10px;">sources :</span>
          <li>
          <% link_to "http://www.lesechos.fr/idees-debats/cercle/cercle-161411-jeunes-decideurs-il-vous-faut-investir-la-francophonie-economique-2034520.php", target: "_blank" do %>
          Jeunes décideurs, il vous faut investir la francophonie économique - Les Echos - 12/10/2017 [in French]
          <% end %>
          </li>
          <li>
          <% link_to "http://www.francophonie.org/IMG/pdf/Impact_economique_de_la_langue_francaise_et_de_la_Francophonie.pdf", target: "_blank" do %>
          Impact économique de la langue française et de la Francophonie. Être francophone, une valeur sûre ! - OIF - Rapport 2012. [in French]
          <% end %>
          </li>
      </p>
    </div>
  </div>
</div>

<div class="bg-smartexpat" id="stand_out">
  <h2>We are entitled to get you fully prepared for the official<br/> <strong>Diplôme de Compétence en Langue</strong> (DCL)<br/> examination in French as a Foreign Language in Paris.
  </h2>
</div>

<div id="fondu">


  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-5">
        <div id="info_box">
                <p>Get prepared for</p>
                <h3>Diplôme de Compétence en Langue <br/> [DCL]
                </h3>
                <p>designed by the French Ministry of National Education</p>

                <% link_to "dcl.html" do %>
                <% image_tag "Bouton_Acces.png", :alt => "Know more" %>
                <% end %>
                <div class="clear"></div>

        </div>
      </div>

    </div>
  </div>

</div>

