---
title: Welcome ! Smartexpat • Private French language and culture classes in Paris
description: Private French language and culture classes for expatriates, diplomats and tourists in Paris. Immersive, personal, funny and innovative approach with our fully qualified, experienced and caring FLE teachers.
---


<div id="banner_intro">

  <div class="container text-center padded" id="banner_content">
    <div class="row">
      <div class="col-xs-12 col-sm-12 padded">

        <%= image_tag "logo/Logo_Smartexpat_White.png", :alt => "Smartexpat Logo" %>

        <div id= banner_title>
          <h1>
              Private French language <br/>
              and culture classes in Paris.<br/>
              Learn French in a brand new way !
          </h1>
        </div>
        <div class="foo"> Foo </div>
        <div class="foo" id="chocolate"> Chip </div>
        <div data-sr="move 50px and enter left over 1s">
            <h1>I enter from the left of the screen</h1>
        </div>

        <div id=banner_button>
          <% link_to "https://goo.gl/forms/YhlBT1qOG85kMPXH3", target: "_blank" do %>
          <button type="button" class="btn-rounded">Contact us !</button>
          <% end %>
        </div>

        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="video-texture"></div>
  <div>
    <video autoplay loop muted id="video_background">
      <source src="video/1080.webm" type="video/webm">
      <source src="video/1080p.m4v" type="video/mp4">
      <%= image_tag "Intro_tableau.jpg", :alt => "Private French classe in museum for example" %>
      </video>
  </div>
  <div class="mobile-video-image"></div>

</div>
