// Your footer style
#footer {
  background: $gray-darker;
  padding: 35px 0;
  color: $gray-lighter;
  height: 100%;
  p {
  margin-top: 0px;
  }
  ul {
  margin-top: 0px;
  }
  a {
    color: $green;
    font-size: 30px;
    letter-spacing: 20px;
    transition: color 0.5s ease;
    &:hover {
      color: $red;
    }
  }


}
