#banner {
  position: relative;
  background-image: image-url("Head_banner_overlay.png");
  background-size: cover;
  color: white;
  height: 100%;
  padding: 100px 0;


  h4 {
    text-transform: uppercase;
    color: $bondy-blue;
    font-weight: bold;
    padding-left: 0px;
  }

}


#stand_out {
  padding: 30px 50px;
  text-align: center;

  h2 {
    line-height: 49px;
  }
}


#fondu {
  position: relative;
  background-image: image-url("au_bureau_SE.png") ;
  background-size: cover;
  color: white;
  height: 100%;
  padding: 60px 0;
}

#info_box {
  position: relative;
  background-color: rgba(0, 0, 0, 0.24);
  padding: 30px;
  text-align: left;
  border: 2px solid #FFFFFF;

  p {
    padding-left: 0px;
    padding-top: 15px;
    text-align: left;
  }

  img {
    height: 50px;
    float: right;
    margin-right: 50px;
    margin-bottom: 10px;
  }
}


#button_access {

  float: right;
  margin-top: 0px;
  margin-right: 0px;
  img {
    height: 50px;
    text-align: right;
  }

}

.clear {
  clear: both;
}



#puce {
  padding: 50px 0;
  line-height: 24px;

  img {
    width: 100px;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  p {
    text-align: justify;
    font-size: $base-size;
    padding-top: 20px;
  }

  p, h4, img {
    padding-left: 20px;
  }


  h4 {
    text-align: left;
    color: $bondy-blue;
    text-transform: uppercase;
    font-weight: bold;
  }

}
