h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

#banner_intro {
  position: relative;
  color: white;
}

#banner_content {
  color: white;
  img {
    width: 350px;
  }
}

#video_background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url() no-repeat;
    background-size: cover;
}

.btn-rounded {
  display: inline-block;
  background-color: transparent;
  color: $emerald;
  padding: 11px 17px;
  border-radius: 30px;
  border-color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: 2px solid rgba(255,255,255,0.7);
  box-shadow: none;
  line-height: 31px;
  letter-spacing: 1px;
  text-shadow: 0 5px 4px rgba(0,0,0,0.50);
  z-index: 50;
  -webkit-font-smoothing: antialiased;
}

.btn-rounded:hover {
  background-color: $emerald;
  border-color: $emerald;
  color: white;
}

#banner_title {
  padding: 15px;

  h1 {
    text-shadow: 0 5px 4px rgba(0,0,0,0.50);
      font-family: 'Montserrat', sans-serif;

  }
}

#banner_button {
  padding: 10px;
}

#banner_logo {
  width: 100px;
}

.video-texture {
  background-image: image-url("grid.png");
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 1;
  z-index: -50;
}

.mobile-video-image {
    position: absolute;
    z-index: -50;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: image-url("Intro_tableau.JPG");
    background-position: center;
    background-repeat: no-repeat;
    display:none;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
  }


@media screen and (min-width: 200px) and (max-width: 1024px) {
  .mobile-video-image {
    display:block;
  }

  #video_background {
    display: none;
  }
}
