#banner_intro {
  position: relative;
  color: white;
}

#banner_content {
  color: white;
  img {
    width: 385px;
  }
}

#video_background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url() no-repeat;
    background-size: cover;
}

.btn-rounded {
  display: inline-block;
  background-color: transparent;
  color: $emerald;
  padding: 11px 17px;
  border-radius: 30px;
  border-color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: 2px solid rgba(255,255,255,0.7);
  box-shadow: none;
  line-height: 31px;
  letter-spacing: 1px;
  text-shadow: 0 5px 4px rgba(0,0,0,0.50);
  z-index: 50;
  -webkit-font-smoothing: antialiased;
}

.btn-rounded:hover {
  background-color: $emerald;
  border-color: $emerald;
  color: white;
}

#banner_title {
  padding: 15px;

  h1 {
    text-shadow: 0 5px 4px rgba(0,0,0,0.50);
  }
}

#banner_button {
  padding: 10px;
}

#banner_logo {
  width: 100px;
}

.video-texture {
  background-image: image-url("grid.png");
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 1;
  z-index: -50;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #fff;
}
.video-container .description .inner {
  font-size: 1em;
  width: 45%;
  margin: 0 auto;
}
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}
.video-container .link a {
  color: #fff;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}
