---
title: Certifications Fle
description: Mettez toutes les chances de votre côté pour obtenir des certifications professionnelles et reconnues de votre niveau de langue en français langue étrangère en vous préparant via nos cours particuliers, personnalisés, immersifs et innovants.
---


<div class="padded" id="banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-1">
          <h4>Professionnels</h4>
          <h1>Faites reconnaître<br/>
          vos compétences<br/>
          langagières en français
          </h1>
        </div>
      </div>
    </div>

</div>



<div class="container text-center" id="puce">
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= image_tag "Puce_ASavoir.png", :alt => "Hint" %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <h4>Le saviez-vous ?</h4>
      <p>
        Le français est une langue très répandue dans le monde professionnel à l’échelle internationale, avec près de 150 millions de francophones qui l’utilisent quotidiennement. Langue de la diplomatie et des échanges commerciaux au sein des 84 États et gouvernements membres de l’Organisation Internationale de la Francophonie, l’apprentissage du français peut être un sérieux atout au cours de votre vie professionnelle.<br/><br/>

        Faites attester vos acquis langagiers en Français Langue Étrangère par une certification diplômante et faites valoir votre différence auprès de votre employeur et de vos collaborateurs.
      </p>
    </div>
  </div>
</div>

<div class="bg-smartexpat" id="stand_out">
  <h2>Nous pouvons vous préparer à l’examen du<br/> <strong>Diplôme de Compétence en Langue</strong> (DCL)<br/> en français langue étrangère
  </h2>
</div>

<div id="fondu">


  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-5">
        <div id="info_box">
                <p>Préparez-vous au</p>
                <h3>Diplôme de Compétence en Langue <br/> [DCL]
                </h3>
                <p>proposé par le ministère français de l’Éducation Nationale</p>

                <% link_to "/dcl.html" do %>
                <% image_tag "Bouton_Acces.png", :alt => "Know more" %>
                <% end %>
                <div class="clear"></div>

        </div>
      </div>

    </div>
  </div>

</div>

