---
title: Welcome ! Smartexpat • Cours particuliers de français langue étrangère
---


<div id="banner_intro">

  <div class="container text-center padded" id="banner_content">
    <div class="row">
      <div class="col-xs-12 col-sm-12 padded">

        <%= image_tag "logo/Logo_Smartexpat_White.png" %>

        <div id= banner_title>
          <h1>
              Cours particuliers de langue <br/>
              et culture française à Paris.<br/>
              Apprenez le français autrement !
          </h1>
        </div>

        <div id=banner_button>
          <% link_to "https://docs.google.com/forms/d/e/1FAIpQLSc-AwqTBu9k84UTRuGtuUA7W5vOcRTLA_UPrH1FNp8dW8EgCA/viewform", target: "_blank" do %>
          <button type="button" class="btn-rounded">Contactez-nous !</button>
          <% end %>
        </div>

        <div class="clear"></div>
      </div>
    </div>
  </div>
          <div class=""></div>
        <div>
          <video autoplay loop muted poster="images/Intro_tableau.jpg" id="video_background">
            <source src="video/1080.webm" type="video/webm">
            <source src="video/1080p.m4v" type="video/mp4">
          </video>
        </div>
</div>


